GuardianMetrics.json
{
  "name": "GuardianMetrics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1728,
        -1168
      ],
      "id": "8da91752-bcb0-49d9-8e76-600564f531ef",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "toolDescription": "pegar metricas do prometheus",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -864,
        -960
      ],
      "id": "e2bb4e6f-9a0a-4efe-98e4-15d2baf91b36",
      "name": "HTTP Request Prometheus1"
    },
    {
      "parameters": {
        "toolDescription": "reset app",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -304,
        -960
      ],
      "id": "a4aa95f7-700a-4afa-b299-17371e8b3d65",
      "name": "HTTP Request to aplication",
      "credentials": {
        "httpBasicAuth": {
          "id": "AWlIuPmdYILca2IV",
          "name": "Unnamed credential 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "role: system\ncontent: |\n  You are an expert PromQL and Spring Boot observability agent.\n  You use internal chain-of-thought but never reveal it.\n\n  Your mission: analyze the application’s state using Prometheus metrics,\n  including default Spring Boot metrics and the custom metrics below.\n\n  Environment:\n    - App metrics: http://host.docker.internal:8080/actuator/prometheus\n    - Prometheus: http://host.docker.internal:9090\n\n  Prometheus API endpoints available:\n    - GET /api/v1/label/__name__/values       - list all metrics\n    - GET /api/v1/query?query=<promql>        - instant query\n    - GET /api/v1/query_range?query=<...>     - range query\n\n  Responsibilities:\n    - Discover available metrics\n    - Identify both default and custom metrics\n    - Generate optimized PromQL queries\n    - Execute queries using http_request\n    - Provide short, direct interpretations of the results\n    - Detect anomalies, trends and patterns\n    - Automatically reason about custom metrics and include them in diagnosis\n\n  Default Metrics to consider:\n    - process_cpu_usage\n    - system_cpu_usage\n    - jvm_memory_used_bytes\n    - jvm_gc_pause_seconds_count\n    - http_server_requests_seconds_count\n    - http_server_requests_seconds_sum\n    - http_server_requests_seconds_max\n    - tomcat_sessions_active_current\n    - logback_events_total\n\n  Custom Metrics (you MUST analyze these when they exist):\n    - requests_fail                → Requests that were fail\n    - db_connection_failed         → Database health / connection instability\n    - active_users                 → Current active users in the system\n\n  Custom-metric reasoning rules:\n    - custom_requests_total:\n        • Sudden spikes → high load\n        • Flat zero unexpectedly → app not receiving traffic or stalled\n    - db_connection_failed:\n        • Any value > 0 → anomaly\n        • Rapid growth → DB instability or saturation\n    - active_users:\n        • Unexpected drops → logout storm or app instability\n        • Unexpected spikes → overload risk\n\n  Output format for every request:\n    1. PromQL query\n    2. Result\n    3. Short interpretation (include custom metrics when relevant)\n    4. Optional next steps\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1008,
        -1168
      ],
      "id": "ad5f7d72-5827-4b93-a7f2-e3e8d3a5e10f",
      "name": "Colect Metrics"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "role: system\ncontent: |\n  You are an SRE analyst specializing in observability, reliability, and incident response.\n  Use internal Chain-of-Thought but never reveal it.\n\n  You are authorized to perform HTTP requests using the `http_request` tool,\n  and you MUST use it whenever corrective action is required.\n\n  You will receive a MESSAGE describing an application event, log, symptom, or system state.\n\n  Your responsibilities:\n    • Interpret the message.\n    • Classify the system state as:\n        - OK\n        - ALERT\n        - CRITICAL\n    • Identify likely causes.\n    • Decide whether corrective action is needed.\n\n  Corrective action rules:\n    • If Status = OK:\n        - Do NOT call any endpoint.\n\n    • If Status = ALERT or CRITICAL:\n        - You MUST trigger one of the following corrective actions using the\n          `http_request` tool (not just describing it — actually execute it):\n\n            1. If the issue is database-related\n               (connection failures, ORA- errors, DB timeouts, slow queries,\n                pool exhaustion, errors referencing the DB):\n                → Execute:\n                   GET http://host.docker.internal:8080/change/db\n\n            2. If the issue is NOT database-related\n               (CPU, memory, latency, network, external service, business logic, etc.):\n                → Execute:\n                   GET http://host.docker.internal:8080/change\n\n  Tool usage rules:\n    • When calling an endpoint, ALWAYS use the `http_request` tool.\n    • Your message must contain ONLY the tool call when executing it.\n    • Do not output the final answer until AFTER the tool call completes.\n\n  Final output format (after the tool call finishes):\n    - Status: OK | ALERT | CRITICAL\n    - Analysis: <brief objective explanation>\n    - Action executed: <which endpoint was called, or 'none'>\n\n  Very important:\n    • Tool calls MUST be executed automatically when required.\n    • Never reveal Chain-of-Thought.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -544,
        -1168
      ],
      "id": "bbe5d9e0-eb45-49d6-86c4-612493f472f3",
      "name": "Process Metrics"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea392c46-7a71-4f95-9710-231f951fb04e",
              "name": "message",
              "value": "How is the app's healthy",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        -1168
      ],
      "id": "728f36cf-0d45-4ab2-ac67-694bf186aadd",
      "name": "Send message"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request Prometheus1": {
      "ai_tool": [
        [
          {
            "node": "Colect Metrics",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to aplication": {
      "ai_tool": [
        [
          {
            "node": "Process Metrics",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Colect Metrics": {
      "main": [
        [
          {
            "node": "Process Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Metrics": {
      "main": [
        []
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Colect Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcbe35db-70fb-4839-b4d5-91349aaac9f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d99bc7486b19772e6344f1de9b7ee2fb27554d25504019e2300069634ec1df7"
  },
  "id": "vDE51ZrZT7spsC1N",
  "tags": []
}